{% extends "base.html" %}

{% block content %}

   <h1 style="text-align: right">  <a href="/">  Recovery Spots </a></h1>
    <ol>

    <li> <a href="/getpostcontents.html"> Display the tools without storing them in a model</a></li>

    <li> <a href="/puttoolsinamodel.html"> Display the tools and store them in a model as a single string </a></li>
    <li> <a href="show_the_model_data.html"> Display the tools from the single string database</a></li>

    <li> <a href="/bulkstoretoolsinamodel.html"> Display the tools and bulk store them in a model as individual records </a></li>
    <li> <a href="show_the_model_data_bulk_stored.html"> Display the tools from the records database</a></li>
    <li> <a href="show_randomized_tools.html"> Display the tools randomized</a></li>

   </ol>


{% endblock content %}




